doctype html
html
    head
        title #{title}
        //link(rel='stylesheet', href='/css/style.css')
        //link(rel='icon', type='image/png', href='/img/favico.png')
        //script(src='/js/ws.js')
    body
        #Page
            block content
