<div class="chatPane" id="Chat">
    <div class="chatMessages" scroll-glue>
        <ul>
            <li ng-repeat="message in messages" class="{{message.role.toLowerCase()}}">
                <span class="chatMsgAuthor" ng-style="{'color': message.color}">{{message.author}}</span>
                <span ng-if="message.language && message.language != 'en'" class="chatMsgAuthorLanguage flag-{{message.language}}"></span>
                <span class="chatMsgContent">{{message.content}}</span>
                <span class="chatMsgTime">{{message.timestamp}}</span>
            </li>
        </ul>
    </div>
    <div class="chatControls">
        <div class="chatInput">
            <input class="form-control" name="message" type="text" value="" ng-model="chat.message" ng-keydown="keyBindings($event)" ng-disabled="!connectionEstablished" auto-focus />
        </div>
        <div class="chatMsgSend">
            <button class="btn btn-primary" ng-disabled="!connectionEstablished" ng-click="send()">Send</button>
        </div>
    </div>
</div>
