<div class="chatPane" id="Chat">
    <div class="chatMessages" scroll-glue>
        <ul>
            <li ng-repeat="message in messages" class="" ng-class="{false: message.role.toLowerCase(), true: 'deleted'}[message.broadcast === 'maintanance']">
                <span class="chatMsgContent">
                    <span class="chatMsgContentBcg" ng-style="{'background-color': message.color}"></span>
                    <span class="chatMsgContentText">{{message.content}}</span>
                </span>
                <span class="chatMsgPointer" ng-style="{'border-left-color': message.color}"></span>
                <span class="chatMsgAuthor" ng-class="{true: 'flag-' + message.language}[message.language && message.language !== 'en']" ng-style="{'color': message.color}">{{message.author}}</span>
                <span ng-if="message.broadcast == 'regular' && user.role == 'ADMIN' && message.author !== user.name"><button ng-click="deleteMessage(message._id)">x</button></span>
                <span class="chatMsgTime">{{message.created_at | date:'HH:mm'}}</span>
            </li>
        </ul>
    </div>
    <div class="chatControls">
        <div class="chatInput">
            <input class="form-control" name="message" type="text" value="" ng-model="chat.message" ng-keydown="keyBindings($event)" ng-disabled="!connectionEstablished" auto-focus />
        </div>
        <div class="chatMsgSend">
            <button class="btn btn-primary" ng-disabled="!connectionEstablished" ng-click="send()">Send</button>
        </div>
    </div>
</div>
