#Chat {

    width: 80%;
    max-width: 600px;
    margin: 5% auto;
    padding: 20px;
    font-family: sans-serif;
    font-size: 14px;
    background-color: @chatBackgroundColor;
    .box-shadow;

    .chatMessages {
        overflow-x: hidden;
        overflow-y: scroll;

        min-height: 200px;
        max-height: 400px;

        padding: 10px;

        background-color: #fff;

        & ul {
            margin: 0px;
            padding: 0px;
            list-style-type: none;

            & > li {
                margin: 0px;
                padding: 0px;

                & .chatMsgContent {
                    position: relative;
                    display: inline-block;
                    min-width: 100px;
                    margin: 15px 0 0;

                    font-size: 12px;

                    background-color: inherit;

                    & .chatMsgContentText {
                        display: inline-block;
                        padding: 8px;
                    }

                    & .chatMsgContentBcg {
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 100%;
                        opacity: 0.1;

                        background-color: @chatAnonymousColor;

                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        border-radius: 5px;

                        z-index: 0;
                    }

                    & .chatMsgContentDelete {
                        position: absolute;
                        top: 3px;
                        right: 4px;
                        display: inline-block;
                        float: right;
                        width: 8px;

                        button {
                            padding: 0px;
                            border: 0;
                            background-color: transparent;
                            font-size: 18px;
                            line-height: 12px;
                        }

                        button:hover {
                            color: red;
                        }
                    }
                }

                & .chatMsgPointer {
                    display: block;
                    width: 0;
                    height: 0;
                    margin: 0 0 0 30px;
                    opacity: 0.1;

                    border-style: solid;
                    border-width: 0px 0 12px 10px;
                    border-color: transparent transparent transparent @chatAnonymousColor;

                }

                & .chatMsgAuthor {
                    line-height: 16px;
                }

                & .chatMsgTime {
                    float: right;
                    color: @chatAnonymousColor;
                    font-size: 10px;
                    line-height: 22px;

                }

                &.admin {
                    & .chatMsgAuthor {
                        font-weight: bold;
                    }
                }

                &.anonymous {
                    & .chatMsgAuthor {
                        color: @chatAnonymousColor;
                        font-style: italic;
                    }
                }

                &.deleted {
                    color: @chatAnonymousColor;
                    font-style: italic;
                    font-size: 12px;
                }

                &.maintenance {
                    & .chatMsgContent {
                        font-size: 11px;
                        color: @chatAnonymousColor;
                        font-style: italic;

                        margin: 15px 0 0;

                        & .chatMsgContentText {
                            padding: 0;
                        }
                    }
                }

            }
        }

        & .chatWritingInProgressBar {
            width: 100%;
            margin: 10px 0 0 0;
            border-top: 1px dotted @chatAnonymousColor;
            color: @chatAnonymousColor;
            font-size: 11px;

            & .chatWritingInProgressUsers {
                font-style: italic;
            }
        }
    }

    .chatControls {
        margin: 20px 0px;

        & button {
            margin: 20px 0;
            width: 100%;
        }
    }
}
