#Chat {

    width: 80%;
    max-width: 600px;
    margin: 0px auto;
    padding: 20px;
    background-color: @chatBackgroundColor;
    .box-shadow;

    .chatMessages {
        overflow-x: hidden;
        overflow-y: scroll;

        height: 200px;
        padding: 10px;

        background-color: #fff;

        & ul {
            margin: 0px;
            padding: 0px;
            list-style-type: none;

            & > li {
                margin: 0px;
                padding: 0px;

                & .chatMsgTime {
                    color: @chatBackgroundColor;
                    font-size: 6px;
                }


                &.admin {
                    & .chatMsgAuthor {
                        font-weight: bold;
                    }
                }

                &.anonymous {
                    & .chatMsgAuthor {
                        color: @chatAnonymousColor;
                        font-style: italic;
                    }
                }
            }
        }
    }

    .chatControls {
        margin: 20px 0px;

        & button {
            margin: 20px 0;
            width: 100%;
        }
    }
}
